<IfModule mod_rewrite.c>
RewriteEngine on
Action application/x-httpd-php "/php-5.4.45/php-cgi.exe"
#≤ªœ‘ æindex.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

</IfModule>